.body {
  font-family: "Press Start 2P", cursive;
  background-color: #f8f8f8;
}

.App {
  display: flex;
}

.fort {
  max-width: 300px;
  margin-top: 100px;
}
/* font-family: 'Russo One', sans-serif;} */
/* 
yellow ffba31

Lb 46bedf

b 000005

g f8f8f8

w ffffff */

.leftContainer {
  display: none;
}

.rightContainer {
  display: none;
}

.centerContainer {
  display: flex;
  flex-direction: column;
}
/* .starterContainer{
    display: flex;
    flex-direction: column;
} */
.titleContainer {
  align-self: center;
}

.starterContainer {
  display: flex;
  flex-direction: column;
}

.sliderContainer {
  display: flex;
  align-self: center;
}
#startButton {
  align-self: center;
  margin-top: 30px;
}
#startButton:active {
  outline: none;
  border: none;
}

#startButton:focus {
  outline: 0;
}

/* 
#slider{
  -webkit-appearance: none;
  appearance: none;
width: 300px;
height: 20px;
  border: solid 2px;
  border-radius: 12px;
  border-color: black;
background-color:#ffc96b;
  cursor: pointer;
}

#slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
width: 40px;
height: 40px;
background-color: #ffba31;
border: solid 2px;
border-radius: 14px;
border-color: black;
  cursor: pointer;
} */

#slider {
  -webkit-appearance: none;
  appearance: none;
  width: 260px;
  height: 20px !important;
  margin-top: 12px;
  background-position: 0 0 !important;
  background-size: 260px 20px !important;
  border: 0;
  background: url("track-export.png") no-repeat;
  cursor: pointer;
}

#slider:active {
  outline: none;
  border: none;
}

#slider:focus {
  outline: 0;
}

#slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 30px !important;
  height: 30px !important;
  background-position: 0 0 !important;
  background-size: cover !important;
  width: 129px;
  height: 129px;
  border: 0;
  background: url("thumb.png") no-repeat 50% 50%;
  cursor: pointer;
}

#amountIndicator{
  margin-left: 40px;
  min-width: 35px;
}

#siguienteButton{
  max-width: 114px;
}